.btn-97 {
  display: block;
  box-sizing: border-box;
  padding: 30px 90px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  background: white;
  color: black;

  font-weight: 900;
  text-transform: uppercase;
  border: 1px solid currentColor;

  transition: 0.2s;
}

.btn-97:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 0 -4px #fff, 0 9px 0 -4px #aaa, 0 12px 0 -4px #000;
}
