.btn-66 {
  --height: 40px;
  line-height: var(--height);

  display: block;
  box-sizing: border-box;
  padding: 0px 60px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  color: transparent;
  --progress: 0px;

  font-weight: 900;
  text-transform: uppercase;
  border: 2px solid white;

  text-shadow: 0 calc(-1 * var(--progress)) white,
    0 calc(var(--height) - var(--progress)) wheat;

  transition: 0.2s;
}

.btn-66:hover {
  --progress: var(--height);
  border-color: wheat;
}
