.btn-90 {
  --size: 60px;

  display: block;
  box-sizing: border-box;
  padding: 20px 0px;
  border-radius: 999px;

  position: relative;

  text-transform: uppercase;
}

.btn-90 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-90 .blobs {
  pointer-events: none;
  z-index: -1;
  filter: url("#goo");
  position: absolute;
  inset: 0;
}

.btn-90 .blobs:before,
.btn-90 .blobs:after {
  pointer-events: none;
  content: "";
  width: var(--size);
  height: var(--size);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  background: white;
  border-radius: 50%;
  transition: transform 0.8s;
}
.btn-90 .blobs:before {
  left: calc(var(--size) * 1.3);
}
.btn-90 .blobs:after {
  right: calc(var(--size) * 1.3);
}
.btn-90:hover .blobs:before {
  transform: translateY(-50%) translateX(calc(-100% + var(--size) / 4));
}
.btn-90:hover .blobs:after {
  transform: translateY(-50%) translateX(calc(100% - var(--size) / 4));
}
