.btn-54,
.btn-54 *,
.btn-54 :after,
.btn-54 :before,
.btn-54:after,
.btn-54:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-54 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-54:disabled {
  cursor: default;
}
.btn-54:-moz-focusring {
  outline: auto;
}
.btn-54 svg {
  display: block;
  vertical-align: middle;
}
.btn-54 [hidden] {
  display: none;
}
.btn-54 {
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
  background: none;
}
.btn-54 .content,
.btn-54 .depth,
.btn-54 .shadow {
  transition: transform 0.2s;
}
.btn-54 .content {
  background: #fff;
  color: #000;
  display: grid;
  height: 84%;
  left: 0;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-54 .depth {
  background: #ccc;
  height: 10%;
  top: 84%;
}
.btn-54 .depth,
.btn-54 .shadow {
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}
.btn-54 .shadow {
  background: #777;
  height: 6%;
  top: 94%;
}
.btn-54:hover .content {
  transform: translateY(4%);
}
.btn-54:hover .shadow {
  transform: translateY(-20%);
}
.btn-54:active .content {
  transform: translateY(8%);
}
.btn-54:active .shadow {
  transform: translateY(-30%);
}
