.btn-72,
.btn-72 *,
.btn-72 :after,
.btn-72 :before,
.btn-72:after,
.btn-72:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-72 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-72:disabled {
  cursor: default;
}
.btn-72:-moz-focusring {
  outline: auto;
}
.btn-72 svg {
  display: block;
  vertical-align: middle;
}
.btn-72 [hidden] {
  display: none;
}
.btn-72 {
  background: #fff;
  border-radius: 999px;
  box-shadow: 5px 5px 10px #cee3f2, -5px -5px 10px #faffff;
  box-sizing: border-box;
  color: #0ea5e9;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn-72:active {
  box-shadow: inset 5px 5px 10px #cee3f2, inset -5px -5px 10px #faffff;
}
