.btn-84 {
  display: block;
  box-sizing: border-box;
  padding: 20px 60px;

  position: relative;

  font-weight: 900;
  text-transform: uppercase;

  transform-style: preserve-3d;
  perspective: 800px;

  background: #fff;
  color: black;

  transform: rotateX(8deg);
  transition: transform 0.2s;
}

.btn-84:hover {
  transform: rotateX(25deg);
}

.btn-84:before,
.btn-84:after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 100%;
  left: 0;
  display: block;
  width: 100%;
  height: 20%;
  background: #eee;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}
.btn-84:after {
  z-index: -2;
  background: #ccc;
}
.btn-84:hover:before {
  animation: progress-bar 1.2s forwards;
}

@keyframes progress-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  10% {
    width: 15%;
    opacity: 1;
  }
  25% {
    width: 25%;
    opacity: 1;
  }
  40% {
    width: 35%;
    opacity: 1;
  }
  55% {
    width: 75%;
    opacity: 1;
  }
  60% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
