.btn-15,
.btn-15 *,
.btn-15 :after,
.btn-15 :before,
.btn-15:after,
.btn-15:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-15 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-15:disabled {
  cursor: default;
}
.btn-15:-moz-focusring {
  outline: auto;
}
.btn-15 svg {
  display: block;
  vertical-align: middle;
}
.btn-15 [hidden] {
  display: none;
}
.btn-15 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  z-index: 0;
}
.btn-15 span {
  mix-blend-mode: difference;
}
.btn-15:after,
.btn-15:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}
.btn-15:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}
.btn-15:hover:before {
  --progress: 100%;
}
.btn-15:hover:after {
  --progress: -102%;
}
