.btn-85 {
  display: block;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 999px;

  position: relative;

  text-transform: uppercase;
}

.btn-85 span {
  font-weight: 900;
  mix-blend-mode: difference;

  transition: opacity 0.2s;
}

.btn-85:hover span {
  opacity: 0;
  animation: text-reset 0.2s forwards 0.8s;
}

.btn-85:before,
.btn-85:after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  border: 4px solid white;
  left: 0;
  transition: height 0.2s cubic-bezier(0.41, 2.01, 0.64, 1);
}
.btn-85:after {
  height: 2rem;
  background: white;
  border: none;
  width: 0%;
}
.btn-85:hover:before {
  height: 2rem;
  animation: border-reset 0.2s forwards 0.78s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.btn-85:hover:after {
  animation: progress-bar 1s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes progress-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  10% {
    width: 15%;
    opacity: 1;
  }
  25% {
    width: 25%;
    opacity: 1;
  }
  40% {
    width: 35%;
    opacity: 1;
  }
  55% {
    width: 75%;
    opacity: 1;
  }
  60% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes border-reset {
  0% {
    height: 2rem;
  }
  100% {
    height: 100%;
  }
}
@keyframes text-reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
