.btn-18,
.btn-18 *,
.btn-18 :after,
.btn-18 :before,
.btn-18:after,
.btn-18:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-18 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-18:disabled {
  cursor: default;
}
.btn-18:-moz-focusring {
  outline: auto;
}
.btn-18 svg {
  display: block;
  vertical-align: middle;
}
.btn-18 [hidden] {
  display: none;
}
.btn-18 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}
.btn-18,
.btn-18 .text-container {
  overflow: hidden;
  position: relative;
}
.btn-18 .text-container {
  display: block;
}
.btn-18 .text {
  display: block;
  mix-blend-mode: difference;
  position: relative;
}
.btn-18:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}
@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
.btn-18:after,
.btn-18:before {
  --tilt: 20px;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: transform 0.6s;
  width: 100%;
}
.btn-18:after {
  -webkit-clip-path: polygon(
    var(--tilt) 0,
    0 50%,
    var(--tilt) 100%,
    100% 100%,
    100% 0
  );
  clip-path: polygon(var(--tilt) 0, 0 50%, var(--tilt) 100%, 100% 100%, 100% 0);
  left: 100%;
  z-index: -1;
}
.btn-18:hover:before {
  transform: translateX(100%);
}
.btn-18:hover:after {
  transform: translateX(-100%);
}
