.btn-20,
.btn-20 *,
.btn-20 :after,
.btn-20 :before,
.btn-20:after,
.btn-20:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-20 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-20:disabled {
  cursor: default;
}
.btn-20:-moz-focusring {
  outline: auto;
}
.btn-20 svg {
  display: block;
  vertical-align: middle;
}
.btn-20 [hidden] {
  display: none;
}
.btn-20 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-20 span {
  mix-blend-mode: difference;
}
.btn-20:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transform: skew(0deg) translateX(-20%);
  transition: transform 0.2s ease;
  width: 120%;
}
.btn-20:hover:before {
  transform: skew(45deg) translateX(75%);
}
