.btn-14 {
  display: block;
  box-sizing: border-box;
  padding: 20px 45px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  background: white;
  font-weight: 900;
  color: black;

  text-transform: uppercase;

  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-14:hover {
  box-shadow: 0 20px 100px 1px rgba(255, 255, 255, 0.4);
  transform: translateY(-4px);
}
