.btn-67,
.btn-67 *,
.btn-67 :after,
.btn-67 :before,
.btn-67:after,
.btn-67:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-67 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-67:disabled {
  cursor: default;
}
.btn-67:-moz-focusring {
  outline: auto;
}
.btn-67 svg {
  display: block;
  vertical-align: middle;
}
.btn-67 [hidden] {
  display: none;
}
.btn-67 {
  box-shadow: inset 0 0 0 2px #fff;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.btn-67:hover {
  color: #fff;
  transition: color 0.1s linear 1s;
}
.btn-67:after,
.btn-67:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.btn-67:before {
  border-right: var(--border);
  border-top: var(--border);
  left: 0;
  top: 0;
}
.btn-67:hover:before {
  --border: 4px solid #000;
  -webkit-animation: border-top-and-right 1s forwards;
  animation: border-top-and-right 1s forwards;
}
.btn-67:after {
  border-bottom: var(--border);
  border-left: var(--border);
  bottom: 0;
  right: 0;
  z-index: -1;
}
.btn-67:hover:after {
  --border: 4px solid #000;
  -webkit-animation: border-bottom-and-left 1s 1s forwards;
  animation: border-bottom-and-left 1s 1s forwards;
}
@-webkit-keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@-webkit-keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
