.btn-74 {
  display: block;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  background: #f7eff4;
  color: #444;

  box-shadow: inset 4.3px 4.3px 7px #fff;
  filter: drop-shadow(3.4px 3.4px 3.4px rgb(183, 177, 181))
    drop-shadow(-3.4px -3.4px 3.4px white);

  font-weight: 900;
  text-transform: uppercase;

  transition: 0.2s;
}

.btn-74:active {
  filter: drop-shadow(0px 0px 0px rgb(183, 177, 181));
  box-shadow: inset 4.3px 4.3px 7px rgb(183 177 181);
}
