.btn-18 {
  --tilt: 20px;

  display: block;
  width: 100%;
  height: 80px;
  margin: 1rem auto;
  max-width: 250px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-18 .text-container {
  display: block;
  position: relative;
  overflow: hidden;
}

.btn-18 .text {
  display: block;
  position: relative;

  font-weight: 900;
  mix-blend-mode: difference;
}
.btn-18:hover .text {
  animation: move-up-alternate 0.3s forwards;
  will-change: transform;
}
@keyframes move-up-alternate {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0%);
  }
}
.btn-18:before,
.btn-18:after {
  content: "";
  z-index: -1;
  width: calc(100% + var(--tilt));
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(-100% - var(--tilt));
  background: white;
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  transition: transform 0.6s;
  will-change: transform;
}
.btn-18:before {
  left: calc(-100% - var(--tilt));
}
.btn-18:after {
  left: 100%;
  transform: rotate(180deg);
}
.btn-18:hover:before {
  transform: translateX(100%);
}
.btn-18:hover:after {
  transform: rotate(180deg) translateX(100%);
}
