.btn-44 {
  display: block;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-44 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-44:before,
.btn-44:after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;

  position: absolute;
  top: -100%;
  left: 0;

  background: #000;
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
  will-change: transform;
}
.btn-44:hover:before,
.btn-44:hover:after {
  transform: translateY(100%);
}
.btn-44:after {
  transition-delay: 0.13s;
  background: #fff;
}
