.btn-95 {
  --size: 80px;

  display: block;
  width: var(--size);
  aspect-ratio: 1;

  margin: 1rem auto;

  border-radius: 50%;

  position: relative;

  background: rgba(255, 255, 255, 0.2);
  background-clip: content-box;

  transition: 0.2s;
}

.btn-95:hover {
  background: rgba(255, 255, 255, 1);
}

.btn-95 svg {
  fill: white;
  padding: 15px;
}

.btn-95:hover svg {
  fill: black;
}
.btn-95:before {
  inset: 1px;
  content: "";
  position: absolute;
  pointer-events: none;
  outline: 5px solid white;
  border-radius: 50%;

  opacity: 0;
  transform: scale(2);

  transition: 0.2s;
}

.btn-95:hover:before {
  opacity: 1;
  transform: scale(1);
}
