.btn-89 {
  box-sizing: border-box;
  display: block;
  height: 90px;
  width: 90px;

  margin: 1rem auto;

  border-radius: 50%;

  position: relative;
  overflow: hidden;

  text-transform: uppercase;
  outline: 2px solid currentColor;
}

.btn-89:hover {
  animation: pulse 0.6s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }
}

.btn-89 svg {
  display: block;

  position: absolute;
  inset: 0;
  padding: 15px;
}
.btn-89:before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 2px;
  background: white;
  border-radius: 50%;
}
.btn-89:hover:before,
.btn-89:hover svg {
  animation: move 0.5s;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  51% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
