.btn-70 {
  display: block;
  box-sizing: border-box;
  padding: 20px 60px;

  position: relative;

  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 0px 0px 0px 2px white inset;

  transition: color 0.1s linear;
}

.btn-70:hover {
  color: black;
  transition: color 0.1s linear 0.1s;
}

.btn-70:before,
.btn-70:after {
  z-index: -1;
  content: "";

  position: absolute;
}
.btn-70:before {
  border-top: var(--border);
  border-bottom: var(--border);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.btn-70:hover:before {
  --border: 4px solid black;
  animation: border-top-and-bottom 1s forwards;
}
.btn-70:after {
  border-left: var(--border);
  border-right: var(--border);
  bottom: 50%;
  transform: translateY(50%);
  right: 0;
  width: 100%;
}
.btn-70:hover:after {
  --border: 4px solid black;
  animation: border-right-and-left 1s forwards;
}
@keyframes border-top-and-bottom {
  0% {
    z-index: 1;
    width: 0;
  }
  100% {
    z-index: 1;
    width: 100%;
  }
}
@keyframes border-right-and-left {
  0% {
    z-index: 1;
    height: 0;
  }
  100% {
    z-index: 1;
    height: 100%;
  }
}
