.btn-97,
.btn-97 *,
.btn-97 :after,
.btn-97 :before,
.btn-97:after,
.btn-97:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-97 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-97:disabled {
  cursor: default;
}
.btn-97:-moz-focusring {
  outline: auto;
}
.btn-97 svg {
  display: block;
  vertical-align: middle;
}
.btn-97 [hidden] {
  display: none;
}
.btn-97 {
  background: #fff;
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn-97:hover {
  box-shadow: 0 6px 0 -4px #fff, 0 9px 0 -4px #aaa, 0 12px 0 -4px #000;
  transform: translateY(-5px);
}
