.btn-9 {
  --tilt: 40px;

  display: block;
  box-sizing: border-box;
  padding: 20px 45px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-9 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-9:before,
.btn-9:after {
  content: "";
  z-index: -1;
  width: calc(100% + var(--tilt));
  height: 100%;

  position: absolute;
  top: 0;
  left: calc(-100% - var(--tilt));
  background: white;
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  transition: transform 0.6s;
}
.btn-9:before {
  left: calc(-100% - var(--tilt));
}
.btn-9:after {
  left: 100%;
  transform: rotate(180deg);
}
.btn-9:hover:before {
  transform: translateX(100%);
}
.btn-9:hover:after {
  transform: rotate(180deg) translateX(100%);
}
