.btn-70,
.btn-70 *,
.btn-70 :after,
.btn-70 :before,
.btn-70:after,
.btn-70:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-70 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-70:disabled {
  cursor: default;
}
.btn-70:-moz-focusring {
  outline: auto;
}
.btn-70 svg {
  display: block;
  vertical-align: middle;
}
.btn-70 [hidden] {
  display: none;
}
.btn-70 {
  box-shadow: inset 0 0 0 2px #fff;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.btn-70:after,
.btn-70:before {
  content: "";
  position: absolute;
}
.btn-70:before {
  border-bottom: var(--border);
  border-top: var(--border);
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.btn-70:hover:before {
  --border: 4px solid #000;
  -webkit-animation: border-top-and-bottom 1s forwards;
  animation: border-top-and-bottom 1s forwards;
}
.btn-70:after {
  border-left: var(--border);
  border-right: var(--border);
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  width: 100%;
  z-index: -1;
}
.btn-70:hover:after {
  --border: 4px solid #000;
  -webkit-animation: border-right-and-left 1s forwards;
  animation: border-right-and-left 1s forwards;
}
@-webkit-keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
