.btn-45 {
  display: block;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-45 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-45:before,
.btn-45:after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;

  background: #000;
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
  will-change: transform;
}
.btn-45:hover:before,
.btn-45:hover:after {
  transform: translateX(100%);
}
.btn-45:after {
  background: #fff;
  transition-delay: 0.1s;
}
