.btn-79 {
  --height: 80px;
  height: var(--height);

  display: block;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 999px;

  position: relative;

  text-transform: uppercase;
}

.btn-79 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-79:before {
  pointer-events: none;

  content: "";
  height: calc(var(--height) / 1.7);
  width: calc(var(--height) / 1.7);

  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  transition: 0.2s;
}
.btn-79:hover:before {
  width: 100%;
  left: 0;
}
