.btn-7 {
  display: block;
  box-sizing: border-box;
  padding: 20px 45px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-7 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-7:before,
.btn-7:after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;

  position: absolute;
  top: -100%;
  left: 0;
  background: white;
  transition: transform 0.4s;
  will-change: transform;
}
.btn-7:before {
  top: -100%;
}
.btn-7:after {
  top: 100%;
}
.btn-7:hover:before {
  transform: translateY(100%);
}
.btn-7:hover:after {
  transform: translateY(-100%);
}
