.btn-92,
.btn-92 *,
.btn-92 :after,
.btn-92 :before,
.btn-92:after,
.btn-92:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-92 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-92:disabled {
  cursor: default;
}
.btn-92:-moz-focusring {
  outline: auto;
}
.btn-92 svg {
  display: block;
  vertical-align: middle;
}
.btn-92 [hidden] {
  display: none;
}
.btn-92 {
  border: 3px solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 20px 80px;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn-92:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #fff;
  transform: translateY(-0.25em);
}
