.btn-56,
.btn-56 *,
.btn-56 :after,
.btn-56 :before,
.btn-56:after,
.btn-56:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-56 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-56:disabled {
  cursor: default;
}
.btn-56:-moz-focusring {
  outline: auto;
}
.btn-56 svg {
  display: block;
  vertical-align: middle;
}
.btn-56 [hidden] {
  display: none;
}
.btn-56 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-56:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
