.btn-37,
.btn-37 *,
.btn-37 :after,
.btn-37 :before,
.btn-37:after,
.btn-37:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-37 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-37:disabled {
  cursor: default;
}
.btn-37:-moz-focusring {
  outline: auto;
}
.btn-37 svg {
  display: block;
  vertical-align: middle;
}
.btn-37 [hidden] {
  display: none;
}
.btn-37 {
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 1.1rem 4rem;
  position: relative;
  text-transform: uppercase;
}
.btn-37 .new,
.btn-37 .old span {
  font-weight: 900;
  transition: transform 0.2s;
}
.btn-37 .new {
  display: block;
  transform: scale(0);
}
.btn-37:hover .new {
  transform: scale(1);
}
.btn-37 .old,
.btn-37 .old span {
  inset: 0;
  position: absolute;
}
.btn-37 .old span {
  background: #fff;
  color: #000;
  display: block;
  display: grid;
  place-items: center;
}
.btn-37 .old span:first-child {
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}
.btn-37 .old span:nth-child(2) {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.btn-37:hover .old span:first-child {
  transform: translateY(-100%);
}
.btn-37:hover .old span:nth-child(2) {
  transform: translateY(100%);
}
