.btn-71,
.btn-71 *,
.btn-71 :after,
.btn-71 :before,
.btn-71:after,
.btn-71:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-71 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-71:disabled {
  cursor: default;
}
.btn-71:-moz-focusring {
  outline: auto;
}
.btn-71 svg {
  display: block;
  vertical-align: middle;
}
.btn-71 [hidden] {
  display: none;
}
.btn-71 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-71:before {
  --opacity: 0.2;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  opacity: var(--opacity);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  z-index: -1;
}
.btn-71:hover:before {
  -webkit-animation: enlarge 1s forwards;
  animation: enlarge 1s forwards;
}
@-webkit-keyframes enlarge {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}
@keyframes enlarge {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}
