.btn-72 {
  display: block;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  color: #0ea5e9;
  background: #fff;

  font-weight: 900;
  text-transform: uppercase;

  box-shadow: 5px 5px 10px #cee3f2, -5px -5px 10px #faffff;

  transition: 0.2s;
}

.btn-72:active {
  box-shadow: inset 5px 5px 10px #cee3f2, inset -5px -5px 10px #faffff;
}
