.btn-10,
.btn-10 *,
.btn-10 :after,
.btn-10 :before,
.btn-10:after,
.btn-10:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-10 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-10:disabled {
  cursor: default;
}
.btn-10:-moz-focusring {
  outline: auto;
}
.btn-10 svg {
  display: block;
  vertical-align: middle;
}
.btn-10 [hidden] {
  display: none;
}
.btn-10 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-10 span {
  mix-blend-mode: difference;
}
.btn-10:before {
  background: #fff;
  content: "";
  display: block;
  height: var(--height, 1em);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(var(--progress, -100%));
  transition: transform 0.2s ease, height 0.2s ease;
  width: 100%;
}
.btn-10:hover:before {
  --progress: 0;
}
.btn-10:active:before {
  --height: 100%;
}
