.btn-15 {
  display: block;
  box-sizing: border-box;
  padding: 20px 45px;
  border-radius: 999px;

  position: relative;
  overflow: hidden;

  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-15 span {
  font-weight: 900;
  mix-blend-mode: difference;
}

.btn-15:before,
.btn-15:after {
  --skew: -55deg;
  
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;

  position: absolute;
  background: white;
  transform: skew(var(--skew));
  transition: transform 0.5s;
}
.btn-15:before {
  top: -100%;
  left: 100%;
}
.btn-15:after {
  top: 100%;
  left: -100%;
}
.btn-15:hover:before {
  transform: skew(var(--skew)) translate(0%, 100%);
}
.btn-15:hover:after {
  transform: skew(var(--skew)) translate(0%, -100%);
}
